.indicator{
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:bottom;
	margin-left:1em;
	margin-top:2px;
	border-style: solid;
	border-width:1px;
	border-color: #999999;
	opacity: 0.5;
}

.feedback textarea{
	width: 30em;
	height: 6em;
	padding: 10px;
}

.feedback {
	float: left;
	border: 1px solid gray;
	padding: 0 10px 10px 10px;
	margin: 10px 10px 10px 0;
}

.likert li{
	display: inline;
    list-style-type: none;
}
